{% trans_default_domain 'FOSUserBundle' %}

{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}

    {{ form_errors(form) }}

    {{ form_label(form.name) }}
        {{ form_widget(form.name) }}

    {{ form_end(form) }}

    <div>
        <br>
        <input type="submit" class="btn btn-primary" value="{{ 'registration.submit'|trans }}" />
    </div>
{{ form_end(form) }}
