{% extends ':blog:layout.html.twig' %}
    {% block stylesheets %}
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    {% endblock %}

{% block blog_body %}

    {% for message in app.session.flashbag.get('error') %}
        <p class="alert alert-danger">{{ message }}</p>
    {% endfor %}

    {{ form_start(form) }}
        <img id="loading" src="{{ asset('images/ajax-loader.gif') }}" style="display:none"/>
        <div id="status"></div>
    {{ form_end(form) }}

    <hr>
    <table class="table">
        <tr>
            <td></td>
        </tr>
    </table>

{% endblock %}

{% block javascripts %}
    <script src="//code.jquery.com/jquery-3.2.1.min.js"></script>
    <script language="JavaScript">
        $(function() {

            $("button#appbundle_comment_Add").click(
               function(e) {
                   e.preventDefault();
                   $('#loading').show();
                   $('#appbundle_comment_Add').addClass('disabled').prop('disabled');

                   $.ajax({
                       url: '{{ path('ajax_article_add_comment') }}',
                       method: 'POST',
                       dataType: 'json',
                       data: {
                           id: {{ id }},
                           content: $('#appbundle_comment_content').val()
                       },
                       error: function() {
                           alert('error');
                           $('#appbundle_comment_Add').removeClass('disabled');
                           $('#loading').hide();
                       },
                       success: function(data) {
                           console.log(data.content);
                           $("#status").text(data.content);
                           $('#appbundle_comment_Add').removeClass('disabled');
                           $('#loading').hide();
                       }
                   });



                   return false;
               }
            );


        });
    </script>

{% endblock %}
