{% form_theme form 'ckeditor.html.twig' %}

{% for message in app.session.flashbag.get('error') %}
    <p class="alert alert-danger">{{ message }}</p>
{% endfor %}

{{ form (form,{ 'attr': {'novalidate': 'novalidate' }}) }}
{{ form_start(form) }}
{{ form_row(form.date, {'attr':{'class': 'js-datepicker'}}) }}
{{ form_end(form) }}
