{% extends ':blog:layout.html.twig' %}
{% block title %} {{ parent() }} - Index{% endblock %}

{% block blog_body %}

    <h2> <span class="label label-danger">blog_body::index</span></h2>


    {% for article in articles %}
        <div class="row">
            <div class="col-md-8"> 
                <div class="well">
                    <h3 class="panel-title"><a href="{{path('read_blog', {'id': article.id})}}">{{article.title}}</a></span></h3>
                    <p>>> {{article.content}}</p>
                </div>
            </div>
            <div class="col-md-4"> 
                {% if  article.image.url is defined %}
                    <img src="{{article.image.url}}" alt="{{article.image.alt}}" width="50" height="50">
                {% endif %}
            </div>
        </div>

    {% endfor %}



{% endblock %}


