{% extends ':blog:layout.html.twig' %}
{% block title %} {{ parent() }} - Index{% endblock %}

{% block blog_body %}
    {% for message in app.session.flashbag.get('error') %}
        <p class="alert alert-danger">{{ message }}</p>
    {% endfor %}
    {% for message in app.session.flashbag.get('notice') %}
        <p class="alert alert-success">{{ message }}</p>
    {% endfor %}

    <h2> <span class="label label-danger">index</span></h2>


    {% for article in articles %}
        <div class="row">
            <div class="col-md-8"> 
                <div class="well">
                    <h3 class="panel-title"><a href="{{path('read_blog', {'id': article.id})}}">{{article.title}}</a></span></h3>
                   {# <p>>> {{article.excerpt|raw}}</p> #}
                    <p>{{ ExcerptTwig(article) | raw }}</p>
                    {# <p>{{ article | ex | raw}}</p> #}
                </div>
            </div>
            <div class="col-md-4">
                {% if  article.image.url is defined %}
                    <img src="{{article.image.url}}" alt="{{article.image.alt}}" width="50" height="50">
                {% endif %}
            </div>
        </div>

    {% endfor %}
{% endblock %}
{% block javascripts %}
    <script src="//code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script language="JavaScript">
        $(function() {
            $('#modal-last-article').on('show.bs.modal', function (e) {

                $.ajax({
                    url: '{{ path('ajax_article_last') }}',
                    beforeSend: function( xhr ) {
                       console.log('beforeSend');
                    },
                    dataType: 'html',
                    data: {},
                    error: function() {
                        alert('error');
                    },
                    success: function(datas) {
                        if (datas) {
                            $('.modal-body').append(datas);
                        }
                    }
                }).done(function(msg) {
                    console.log( "(done) Data Saved: " + msg );
                });

                console.log('show.bs.modal');
            });

            // fade out all the flash bag
            if ( $('p.alert').length ) {
                $(this).fadeOut( "slow", function() {} );
            }

        });
    </script>

{% endblock %}

