{% extends ':blog:layout.html.twig' %}

{% block blog_body %}
    <hr>
    <a href="{{url('product_star')}}">Star</a>
    <hr>
    <h1>Products list</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Content</th>
                <th>Price</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <td>{{ product.title }}</td>
                <td>{{ product.content }}</td>
                <td>{{ product.price }}</td>
                <td>
                    <ul class="list-inline">
                        <li>
                            <a class="btn btn-primary" href="{{ path('product_show', { 'id': product.id }) }}">show</a>
                        </li>
                        <li>
                            <a class="btn btn-primary" href="{{ path('product_edit', { 'id': product.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul class="list-inline">
        <li>
             <a class="btn btn-info" role="button" href="{{ path('product_new') }}">Create a new product</a>
        </li>
    </ul>
{% endblock %}
