{% extends ':blog:layout.html.twig' %}

{% block blog_body %}
    <hr>
   {# <a href="{{url('product_star')}}">Star</a>#}
    <hr>
    <h1>Products <span class="badge">{{ pagination.getTotalItemCount }}</span> list</h1>
    {# total items count #}
    <table class="table">

        <tbody>
        {# {% for product in products %} #}
        <tr>
            {# sorting of properties based on query components #}
            <th>{{ knp_pagination_sortable(pagination, 'Title', 'product.title') }}</th>
            <th{% if pagination.isSorted('product.content') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Content', 'product.content') }}</th>
            <th>{{ knp_pagination_sortable(pagination, 'price', ['product.price']) }}</th>
        </tr>
        {% for product in pagination %}
            <tr>
                <td>{{ product.title }}</td>
                <td>{{ product.content }}</td>
                <td>{{ product.price }}</td>
                <td>
                    <ul class="list-inline">
                        <li>
                            <a class="btn btn-primary" href="{{ path('product_show', { 'id': product.id }) }}">show</a>
                        </li>
                        <li>
                            <a class="btn btn-primary" href="{{ path('product_edit', { 'id': product.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {# display navigation #}
    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>

    <ul class="list-inline">
        <li>
             <a class="btn btn-info" role="button" href="{{ path('product_new') }}">Create a new product</a>
        </li>
    </ul>
{% endblock %}
